div {
  border: solid 1px black;
  margin: 5px;
}

.index > .panel {
  float: left;
  width: 75%;

}
.index > .panel + .panel {
  width: 20%;
  float: right;
  clear: right;
}
.index::after {
  content: "";
  clear: both;
  display: table;
}